.form table th { width: 125px; }
.form input { width: 300px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.form input#id_coordinator_check { width: auto; margin-left: 15px; }
.form #submit { width: 100px; float: right; }
.form table { width: 100%; }
.form h1 { font-weight: normal; line-height: 1.2em; font-size: 25px; padding-bottom: 5px;}
p.datetime { margin-bottom: 0px; }
p.datetime input { margin: 0 5px 1px 10px; }

.note { font-size: 10px; color: #999; line-height: 1.3em; }
.errorlist { color: #F00; font-size: 1em; list-style: none; padding: 0px; }
tr.errorlist { background-color: #ffe1e1; }
tr.errorlist th { padding-left: 5px; }

/* CALENDARS & CLOCKS IMPORTED FROM ADMIN */

.calendarbox, .clockbox { margin: 5px auto; font-size: 11px; width: 16em; text-align: center; background: white; position: relative; border: 1px solid #444; }
.clockbox { width: auto; }
.clockbox h2 { margin: 0; font-size: 13px; border-bottom: 1px solid #222; padding: 3px; background-color: #EEE; }

.calendar { margin: 0; padding: 0; }
.calendar table { margin: 0; padding: 0; border-collapse: collapse; background: white; width: 100%; }
.calendar caption, .calendarbox h2 { margin: 0; font-size: 12px; text-align: center; border-top: none; background-color: #EEE; }
.calendar caption { height: 18px; font-weight: bold; }
.calendar th { font-size: 10px; color: #666; padding: 2px 3px; text-align: center; background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x; border-bottom: 1px solid #ddd; }
.calendar td { font-size: 11px; text-align: center; padding: 0; border-top: 1px solid #eee; border-bottom: none; }
.calendar td.selected a { background: #C9DBED; }
.calendar td.nonday { background: #efefef; }
.calendar td.today a { background: #ffc; }
.calendar td a, .timelist a { display: block; font-weight: bold; padding: 4px; text-decoration: none; color: #444; }
.calendar td a:hover, .timelist a:hover { background: #4A0010; color: white; }
.calendar td a:active, .timelist a:active { background: #CCC; color: white; }
.calendarnav { font-size: 10px; text-align: center; color: #ccc; margin: 0; padding: 1px 3px; }
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { color: #999; }
.calendar-shortcuts { background: white; font-size: 10px; line-height: 11px; border-top: 1px solid #eee; padding: 3px 0 4px; color: #ccc; }
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { display: block; position: absolute; font-weight: bold; font-size: 12px; background: #AAA url(../img/admin/default-bg.gif) bottom left repeat-x; padding: 1px 4px 2px 4px; color: white; }
.calendarnav-previous:hover, .calendarnav-next:hover { background: #4A0010; }
.calendarnav-previous { top: 0; left: 0; }
.calendarnav-next { top: 0; right: 0; }
.calendar-cancel { margin: 0 !important; padding: 0; font-size: 10px; background: #e1e1e1 url(../img/admin/nav-bg.gif) 0 50% repeat-x; border-top: 1px solid #ddd; }
.calendar-cancel a { padding: 2px; color: #999; }

ul.timelist, .timelist li { list-style-type: none; margin: 0; padding: 0; }
.timelist a { padding: 2px; }