{% extends "base.html" %}


{% block fullbreadcrumb %}Educational Technology Center{% endblock %}


{% block content %}
   <div class="index">
  <p class="photo"><img src="static/images/photos/etc.jpg" alt="" />
    <span class="caption"><a href="mission.html">Educational Technology Center</a></span></p>
    <p>Our new <strong>Crestron Control System tutorial video</strong> is now available! Visit our <a href="operating_instructions.html">Operating Instructions</a> page to view it.</p>
  <div class="looking_for">
    <h2>Quick Links</h2>
    <ul>
      <li><a href="classroom_support.html">Classroom Support</a></li>
      <li><a href="classroom_upgrade_process.html">Classroom Upgrade Process</a></li>
      <li><a href="faculty_request_form.html">Faculty Equipment Lending Request</a></li>
      <li><a href="student_request_form.html">Student Equipment Lending Request</a></li>
      <li><a href="service_request.html">Report a Problem / Tech Services Request</a></li>
    </ul>
  </div>
  </div>
{% endblock %}


{% block sidebar %}
  <h3>417-836-5778</h3>
  <div class="hours">
    <h4>Meyer Library: Second Floor</h4>

    <p>7:30am&ndash;4:00pm, M&ndash;F</p>

    <h5>Main Office, LIB 202 836-8971</h5>
    <h5>Reservation Desk 836-5778</h5>
    <h5>Director 836-4807</h5>
    <h5>Classroom Coordinator 836-5959</h5>
    <h5>Academic Scheduler 836-6625</h5>
  </div>

  <div class="hours">
    <h4>Multimedia Lab: LIB 201</h4>
    <p>7:00am&ndash;12:00am, M-Th</p>
    <p>7:00am&ndash;6:00pm, F</p>
    <p>10:00am&ndash;6:00pm, Sat</p>
    <p>12:00pm&ndash;12:00am, Sun</p>
  </div>

  <div class="hours">
    <h4>Meyer Library: Lower Level</h4>
    <h5>Equipment Lending, LIB 003</h5>
    <p>7:30am&ndash;5:00pm, M&ndash;F</p>
    <p>836-6834</p>

    <h5>Technical Support, LIB 003</h5>
    <p>8:00am&ndash;5:00pm, M&ndash;F</p>
    <p>836-4553</p>
  </div>
{% endblock %}