{% extends "base.html" %}

{% block breadcrumb %}Operating Instructions{% endblock %}

{% block content %}
   <div class="rst">
      <div class="document" id="operating-instructions">
         <h1 class="title">Operating Instructions</h1>
         <div class="section" id="crestron-control-system-training-video">
            <h1>Crestron Control System Training Video</h1>
            <embed src="http://blip.tv/play/AYGZ8mMC" type="application/x-shockwave-flash" width="480" height="390" allowscriptaccess="always" allowfullscreen="true"></embed> 
         </div>
         <div class="section" id="operating-instructions-guide">
            <h1>Operating Instructions Guide</h1>
            <img src="/static/images/photos/MediaCartInstructions.jpg" alt="" width="625" />
            <p>To access a PDF of the operating instructions for printing, <a href="/static/pdf/classroom_support_training.pdf">click here</a>.</p>
         </div>
     </div>
  </div>
{% endblock %}