{% extends "base.html" %}

{% block script %}/static/js/workform.js{% endblock %}

{% block breadcrumb %}Service Request Form{% endblock %}

{% block content %}
<div class="form">
<h1>Service Request Form</h1>
	<p>Please provide the information requested below, including a description of the request. This information will be sent to our system and you will receive a confirmation email once this request reaches our system.</p>
	<form action="/etcetera/public_form" method="POST">
		{% if form.errors %}
			<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
		{% endif %}
		<table>
		   <tr><th>Request Type</th><td>{{ form.work_type }}</td>
		      <td class="note">If new equipment is being installed, choose Install. Otherwise, choose Problem.</td></tr>
			<tr><th>Name</th><td>{{ form.name }}</td>
				<td class="note">First and last name.</td></tr>
			<tr><th>Department</th><td>{{ form.department }}</td>
				<td class="note">Your university department.</td></tr>
			<tr><th>Phone</th><td>{{ form.phone }}</td>
				<td class="note">Format: (###-###-####).</td></tr>
			<tr><th>Email</th><td>{{ form.email }}</td>
				<td class="note">Your university email address.</td></tr>
			<tr><th>Building</th><td>{{ form.building }}</td>
				<td class="note">The university location of the request.</td></tr>
			<tr><th>Room #</th><td>{{ form.room }}</td>
				<td class="note"></td></tr>
			<tr id="equipment_row"><th>Equipment</th><td>{{ form.equipment_text }}</td>
				<td class="note">The equipment in question (make/model).</td></tr>
			<tr id="barcode_row"><th>Barcode? <span class="note">[optional]</span></th><td>{{ form.barcode }}</td>
				<td class="note">If present, the number on the ETC barcode sticker.	</td></tr>
			<tr id="description_row"><th>Description</th><td>{{ form.description }}</td>
				<td class="note" class="last">Give a description of the request. If it's a repair, what's broken, what are the symptoms? If it's an install, what sort of equipment needs to be installed, and how? Be as specific as possible so we can serve you best.</td></tr>
			<tr><th></th><td><input type="submit" value="Submit &rarr;" id="submit" /></td><td></td></tr>
		</table>
	</form>
</div>
{% endblock %}